<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.:BANCO FINANDINA:.</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="shortcut icon" href="favicon.png">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <!-- Global Stylesheet-->
    <link rel="stylesheet" href="resources/assets/css/style.css" />
    <!-- Angular library-->
    <script src="resources/assets/js/vendor/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <!-- Global js-->
    <script src="resources/source/js/app.js"></script>
  </head>
  <body>

  <main ng-controller="general">
    <div class="container-gen">
      <div class="part-1">
        <div class="info-bank">
          <div class="logo-bank">
              <div class="logo-prin"></div>
              <div class="linea-v"></div>
              <div class="text-logo">
                <span class="text-1">La marca de una</span>
                <span class="text-2">Banca <i>Digital</i></span>
              </div>
          </div>
          <div class="content-logo-btn">
              <a class="btn-logo">
                  <div class="ico-logo">
                    <div class="ico-logo-int">
                      <img src="resources/assets/images/banco-finandina-logo.png" alt="Banco Finandina">
                    </div>
                  </div>
                  <div class="tooltip-logo">
                      <span class="text-tool">Lorem ipsum dolor sit amet, consectetur</span>
                      <p class="btn-red">
                        Esto es un botón <span class="ico-next"></span>
                      </p>
                  </div>
              </a>
          </div>
          <div class="text-bank">
              <h1>Lorem ipsum</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>
      <div class="part-2">
          <div class="goal">
            <div class="goal-int">
              <span>The standard Lorem Ipsum passage</span>
              <div class="icos-goal">
                  <div class="car-goal" style="left: 20%;"></div>
                  <div class="flag-goal"></div>
              </div>
              <div class="timeline">
                <div class="line-gray">
                  <div class="line-red" style="width:20%;"></div>
                </div>
                <div class="points">
                  <div class="point active"></div>
                  <div class="point"></div>
                  <div class="point"></div>
                  <div class="point"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="chat">
            <div class="chat-int">
              <div class="messege-computer animated pass1" ng-if="FirstPart" ng-class="{bounceOutLeft: TreePart == true, fadeInUp: TreePart == false}">
                  <div class="messege">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>


                    <div class="item" ng-repeat="item in items_1" ng-click="select($index)" ng-class="{active: $index == selected}" ng-if="isActive">
                      <div class="{{item.ico}}"></div>
                      <span>{{item.text}} - {{item.id}}</span>
                      <div class="ico-check animated flash infinite"></div>
                    </div>

                  </div>
              </div>
              <div class="messege-person animated fadeInUp pass2" ng-if="SecondPart" ng-class="{bounceOutLeft: TreePart == true, fadeInUp: TreePart == false}">
                  <div class="messege">
                    <span><div class="ico-down"></div> Lorem ipsum dolor sit amet</span>
                  </div>
                  <ul class="list-item">
                      <li class="item" ng-repeat="item in items_2" ng-click="select2($index)" ng-class="{active: $index == selected2}">
                        <span>{{item.text}} - {{item.id}}</span>
                        <div class="ico-check animated flash infinite"></div>
                      </li>
                  </ul>
              </div>
              <div class="messege-computer animated fadeInUp pass3" ng-if="TreePart">
                  <div class="messege">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                    <div class="item" ng-repeat="item in items_3" ng-click="select3($index)" ng-class="{active: $index == selected3, noactive: HideAll == true}">
                      <div class="{{item.ico}}"></div>
                      <span>{{item.text}} - {{item.id}}</span>
                      <div class="ico-check animated fadeIn"></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="send-part">
            <input type="text" name="" value="" ng-enter="CreateMessage()">
            <a class="send" ng-click="CreateMessage()"></a>
          </div>
      </div>
    </div>
    <div class="content-data" ng-if="FinalPart">
      <div class="content-data-int">
        <md-calendar class="fixed-calendar" ng-model="myDate"></md-calendar>
      </div>
    </div>
  </main>

  <footer>
    <span class="legal">
      Todos los derechos reservados 2018 - <strong>Banco Finandina</strong>
    </span>
  </footer>
  </body>
</html>
