%sprites {
	background-image: url(../images/sp_all_site.png);
	background-repeat: no-repeat;
}

{{#sprites}}
%sprite_{{name}} {
	width: {{px.width}};
	height: {{px.height}};
	background-position: {{px.offset_x}} {{px.offset_y}};
	@extend %sprites;
}

{{/sprites}}