%sprites {
	background-image: url(../images/sp_all_site.png);
	background-repeat: no-repeat;
}

%sprite_coche {
	width: 23px;
	height: 10px;
	background-position: -124px -57px;
	@extend %sprites;
}

%sprite_ico-brush {
	width: 20px;
	height: 22px;
	background-position: -161px -78px;
	@extend %sprites;
}

%sprite_ico-cap {
	width: 32px;
	height: 24px;
	background-position: 0px -57px;
	@extend %sprites;
}

%sprite_ico-car-green {
	width: 27px;
	height: 11px;
	background-position: -87px -57px;
	@extend %sprites;
}

%sprite_ico-cart {
	width: 28px;
	height: 26px;
	background-position: 0px -91px;
	@extend %sprites;
}

%sprite_ico-check {
	width: 23px;
	height: 23px;
	background-position: -74px -91px;
	@extend %sprites;
}

%sprite_ico-dollar {
	width: 22px;
	height: 20px;
	background-position: 0px -127px;
	@extend %sprites;
}

%sprite_ico-down {
	width: 15px;
	height: 9px;
	background-position: -191px -60px;
	@extend %sprites;
}

%sprite_ico-flag {
	width: 10px;
	height: 10px;
	background-position: -191px -79px;
	@extend %sprites;
}

%sprite_ico-men {
	width: 20px;
	height: 29px;
	background-position: -161px 0px;
	@extend %sprites;
}

%sprite_ico-next {
	width: 15px;
	height: 15px;
	background-position: -191px -35px;
	@extend %sprites;
}

%sprite_ico-passboard {
	width: 35px;
	height: 19px;
	background-position: -42px -57px;
	@extend %sprites;
}

%sprite_ico-question {
	width: 17px;
	height: 25px;
	background-position: -191px 0px;
	@extend %sprites;
}

%sprite_ico-send {
	width: 26px;
	height: 26px;
	background-position: -38px -91px;
	@extend %sprites;
}

%sprite_ico-wallet {
	width: 22px;
	height: 22px;
	background-position: -107px -91px;
	@extend %sprites;
}

%sprite_ico-women {
	width: 20px;
	height: 29px;
	background-position: -161px -39px;
	@extend %sprites;
}

%sprite_logo {
	width: 151px;
	height: 47px;
	background-position: 0px 0px;
	@extend %sprites;
}

