/*------------------------------------*\
  $CONTENT
\*------------------------------------*/
/**
 * IMPORTS..................Import dependencies SASS
 * VARIABLES................Variables globals for SASS
 * FONT_FACE................Include font-face
 * ICONS_FONT...............Icons for fonts
 * ICONS....................SVG's imported to SASS
 * SPRITES..................Images sprites
 * BASIC_STYLES.............Basics styles
 * CORE_STYLE...............Styles para Core.js components
 * MASTER_PAGE..............Styles for master page
 * PARTIALS.................Styles for partials html
 * SECTIONS.................Styles for sections site
 * RESPONSIVE...............Styles for mobile
 */
/*------------------------------------*\
  $IMPORTS
\*------------------------------------*/
@import "sprites";
@import "normalize";
@import "utility";
@import "animate";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700&display=swap');
/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/
$font: 'Open Sans', sans-serif;
$font2: 'effraregular', sans-serif;
$font3: 'sign_painter', sans-serif;
$color: #646464;
$color2: #003C5A;
$red: #EE252A;
$pink: #F2595D;
/*------------------------------------*\
  $FONT_FACE
\*------------------------------------*/
@font-face {
  font-family: 'sign_painter';
  src: url("../fonts/signpainter_housescript_regular-webfont.woff2") format('woff2'), url("../fonts/signpainter_housescript_regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'effraregular';
  src: url("../fonts/effra_std_rg-webfont.woff2") format('woff2'), url("../fonts/effra_std_rg-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@mixin font-reg {
  font-family: $font;
  font-weight: 400;
  color: $color;
}
@mixin font-bold {
  font-family: $font;
  font-weight: 700;
}
@mixin font-gen {
  font-family: $font;
  color: #4a4a4a;
}
/*------------------------------------*\
  $BASIC_STYLES

\*------------------------------------*/
body {
  background-color: #FBFBFB;
  font-size: 16px;
  min-height: 100vh;
  height: 100%;
  @include font-gen();
}
@for $i from 0 through 100 {
  .w-#{$i} {
    width: round(percentage($i/100));
  }
}

.fade-element-in.ng-enter {
  transition: 0.8s linear all;
  opacity: 0;
}

.fade-element-in-init .fade-element-in.ng-enter {
  opacity: 1;
}

.fade-element-in.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-element-in.ng-leave {
  transition: 0.3s linear all;
  opacity: 1;
}

.fade-element-in.ng-leave.ng-leave-active {
  opacity: 0;
}

main {
  position: relative;
  width: 100%;
}

.ico-next {
  @extend %sprite_ico-next;
}

.ico-men {
  @extend %sprite_ico-men;
}

.ico-women {
  @extend %sprite_ico-women;
}

.ico-check {
  @extend %sprite_ico-check;
}

.ico-down {
  @extend %sprite_ico-down;
}

.ico-passboard {
  @extend %sprite_ico-passboard;
}

.ico-cap {
  @extend %sprite_ico-cap;
}

.ico-car-green {
  @extend %sprite_ico-car-green;
}

.ico-cart {
  @extend %sprite_ico-cart;
}

.ico-dollar {
  @extend %sprite_ico-dollar;
}

.ico-question {
  @extend %sprite_ico-question;
}

.ico-wallet {
  @extend %sprite_ico-wallet;
}

.ico-brush {
  @extend %sprite_ico-brush;
}
@keyframes bounce-op {
  0% {
    border: 15px solid transparent;
  }

  50% {
    border: 15px solid #F7F5F5;
  }

  100% {
    border: 15px solid transparent;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.container-gen {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - 75px);

  .part-1 {
    width: 45%;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.3);
    z-index: 1;

    .info-bank {
      max-width: 540px;
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .logo-bank {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 320px;
        width: 100%;

        .linea-v {
          background: #EE252A;
          width: 1px;
          height: 80px;
        }

        .logo-prin {
          @extend %sprite_logo;
        }

        .text-logo {
          span {
            display: block;
          }

          .text-1 {
            font-family: $font2;
            color: $color2;
            font-weight: lighter;
            font-size: 13px;
            text-align: center;
          }

          .text-2 {
            font-family: $font2;
            color: $color2;
            font-size: 21px;
            margin-top: -7px;

            i {
              font-family: $font3;
              color: $red;
              font-size: 25px;
            }
          }
        }
      }

      .content-logo-btn {
        position: relative;

        .btn-logo {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          max-width: 420px;
          width: 100%;

          .ico-logo {
            width: 220px;
            height: 220px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 15px solid transparent;
            border-radius: 50%;
            transition: 1s;

            &:hover {
              animation: bounce-op 2s infinite;
              transition: 1s;
            }

            .ico-logo-int {
              width: 190px;
              height: 190px;
              background: white;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
              border-radius: 100px;
              transition: 0.5s;
            }
          }

          .tooltip-logo {
            background: white;
            width: 165px;
            height: 110px;
            position: relative;
            box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
            border-radius: 13px;
            box-sizing: border-box;
            padding: 12px;
            transition: 0.5s;

            &:before {
              content: '';
              width: 0;
              height: 10px;
              position: absolute;
              bottom: -28px;
              left: 17px;
              border-right: 20px solid transparent;
              border-top: 16px solid rgba(0,0,0,0.3);
              filter: blur(1px);
            }

            &:after {
              content: '';
              width: 0;
              height: 10px;
              position: absolute;
              bottom: -25px;
              left: 18px;
              border-right: 18px solid transparent;
              border-top: 15px solid white;
            }

            .text-tool {
              color: $color2;
              font-weight: 600;
              font-size: 13px;
              display: block;
              width: 130px;
              line-height: calc(1 * 16px);
            }

            .btn-red {
              color: white;
              background: $red;
              font-weight: bold;
              font-size: 13px;
              text-align: center;
              padding: 2px;
              border-radius: 60px;

              .ico-next {
                display: inline-block;
                vertical-align: middle;
                transform: scale(0.7);
              }
            }
          }
        }
      }

      .text-bank {
        h1 {
          color: $red;
          font-size: 20px;
          font-weight: bold;
          margin: 0;
          padding: 0;
        }

        p {
          font-size: 20px;
          font-weight: 600;
          font-style: italic;
        }
      }
    }
  }

  .part-2 {
    width: 55%;
    background: white;
    display: grid;
    grid-template-rows: 70px 1fr 60px;
    overflow: hidden;

    .goal {
      width: 100%;
      height: 70px;
      box-shadow: 5px 1px 4px 1px rgba(0, 0, 0, 0.16);
      display: flex;
      align-items: center;
      justify-content: center;

      .goal-int {
        max-width: 330px;
        width: 100%;
        margin: auto;
        text-align: center;
        position: relative;

        span {
          font-size: 13px;
          color: $color2;
          font-weight: bold;
          margin-bottom: 5px;
          display: block;
        }

        .icos-goal {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: flex-end;

          .car-goal {
            position: absolute;
            margin-left: -13px;
            @extend %sprite_coche;
          }

          .flag-goal {
            @extend %sprite_ico-flag;
          }
        }

        .timeline {
          position: relative;

          .line-gray {
            background: rgba(201, 201, 201, 1);
            width: 100%;
            height: 5px;
            position: absolute;
            top: 3px;

            .line-red {
              height: 100%;
              background: $red;
            }
          }

          .points {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .point {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: rgba(201, 201, 201, 1);
            }

            .point.active {
              background: $red;
            }
          }
        }
      }
    }

    .chat {
      max-height: calc(100vh - 205px);
      .chat-int {
        height: 100%;
        overflow: scroll;

        .item {
          display: flex;
          align-items: center;
          width: 100%;
          margin: auto;
          position: relative;
          border-top: 1px solid #DEDEDE;
          box-sizing: border-box;
          padding: 10px 5%;
          transition: 1s;
          cursor: pointer;

          &:hover {
            span {
              font-weight: bold;
              color: $color2;
              transition: 0.5s;
            }
          }

          span {
            color: $color;
            font-size: 1em;
            font-weight: 400;
            padding: 0;
            margin-left: 20px;
          }

          .ico-check {
            display: none;
            position: absolute;
            right: 5%;
            transition: 0.5s;
          }
        }

        .item.noactive {
          display: none;
        }

        .item.active {
          display: flex;
          opacity: 1;

          .ico-check {
            display: block;
          }
        }

        .messege {
          font-weight: bold;
          box-sizing: border-box;
          max-width: 490px;
          width: 100%;
          box-shadow: 0 2px 5px -2px rgba(0,0,0,0.4);
          position: relative;

          span {
            padding: 20px;
            display: block;
          }

          .linea {
            background: #DEDEDE;
            height: 1px;
            width: 100%;
            margin: 10px 0;
          }

          .item {
            span {
              padding: 0;
            }
          }
        }

        .messege-person {
          width: 100%;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          margin: 30px 0;

          .messege {
            background: $pink;
            color: white;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            right: 40px;
            padding: 0;
            cursor: pointer;

            &:after {
              content: '';
              width: 0;
              height: 10px;
              position: absolute;
              top: 0;
              right: -26px;
              border-right: 27px solid transparent;
              border-top: 23px solid $pink;
            }

            .ico-down {
              display: inline-block;
              margin-right: 10px;
            }
          }

          .list-item {
            position: relative;
            right: 40px;
            max-width: 490px;
            width: 100%;
            border: 1px solid #DEDEDE;
            padding: 10px 0 0;
            margin: -10px 0 0;
            list-style: none;
            border-radius: 20px;
            z-index: -1;

            .item {
              padding: 10px;
              width: 100%;
              border-bottom: 1px solid #DEDEDE;
              box-sizing: border-box;
              justify-content: space-between;

              .ico-check {
                position: relative;
                right: 0;
              }

              span {
                transition: 0.5s;
              }

              &:last-child {
                border: 0;
              }
            }
          }
        }

        .messege-computer {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 30px 0;

          .messege {
            background: #FBFBFB;
            color: $color2;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            left: 40px;

            &:before {
              content: '';
              width: 0;
              height: 10px;
              position: absolute;
              top: 1px;
              left: -27px;
              border-left: 25px solid transparent;
              border-top: 21px solid black;
              filter: blur(1px);
              opacity: 0.1;
            }

            &:after {
              content: '';
              width: 0;
              height: 10px;
              position: absolute;
              top: 0;
              left: -25px;
              border-left: 27px solid transparent;
              border-top: 23px solid #FBFBFB;
            }
          }
        }
      }
    }

    .send-part {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 2px 0 1px 0 rgba(0,0,0,0.5);

      input {
        width: 90%;
        border-radius: 40px;
        border: 1px solid #DFDFDF;
        height: 42px;
        text-indent: 20px;
      }

      .send {
        display: block;
        @extend %sprite_ico-send;
      }
    }
  }
}

footer {
  background: $color2;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;

  span {
    color: white;
    font-size: 12px;
    font-size: 12px;
    position: relative;
    left: 2%;
  }
}

.content-data {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(199, 199, 199, 0.5);
  z-index: 99;

  .content-data-int {
    max-width: 340px;
    margin: auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background: $red;
}

.md-calendar-day-header,
.md-default-theme .md-calendar-day-header {
  background: white;
}
/*------------------------------------*\
  $RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width: 1290px) {}
@media only screen and (max-width: 1180px) {}
@media only screen and (max-width: 900px) { 
  .container-gen {
    flex-wrap: wrap;

    .part-1,
    .part-2 {
      width: 100%;
    }

    .part-1 {
      padding-top: 20px;

      .info-bank {
        .logo-bank {
          margin: auto;
        }

        .content-logo-btn {
          margin-top: 20px;
        }

        .text-bank {
          width: 90%;
          margin: auto;
        }
      }
    }
  }

  .container-gen .part-2 .chat .chat-int .messege,
  .container-gen .part-2 .chat .chat-int .messege-person .list-item {
    width: 80%;
  }

  .container-gen .part-1 .info-bank .content-logo-btn {
    margin: auto;

    .btn-logo {
      justify-content: center;

      .tooltip-logo {
        display: none;
      }

      .ico-logo {
        margin: auto;
      }
    }
  }

  .container-gen .part-2 .send-part input {
    width: 80%;
    outline: 0;
  }
  .container-gen .part-2 .chat{
    max-height: initial;
  }
}
